.header{
  height: 50px;
  color: $color-white;
  background-color: $color-black;
  position: sticky;
  top: 0;
  z-index: 1;
  &__container{
    max-width: 1400px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  &__logo{
    font-size: $font-lg;
    font-weight: bold;
  }
}
.nav{
  display: flex;
  gap: 20px;
  a{
    padding: 10px 15px;
    border-radius: 5px;
    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}