@media (max-width: 1200px) {
  .products{
    &__list{
      grid-template-columns: 1fr 1fr;
      max-width: 800px;
    }
  }
  .searchbar{
    &__container{
      max-width: 800px;
    }
  }
  .about {
    &__container {
      max-width: 800px;
    }
  }
  .analytics {
    &__container{
      grid-template-columns: 1fr;
    }
    &__card{
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .products{
    &__list{
      grid-template-columns: 1fr
    }
  }
}