.products{
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 10%;
  align-items: start;
  &__card{

  }
}
.card{
  display: grid;
  grid-template-rows: 200px 80px 30px 30px auto;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 5%;
  text-align: center;
  position: relative;
  transition: $transition-duration;
  &:hover{
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
  }
  &__title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  img{
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
  .rating{
    margin: 0 auto;
  }
  &__marker{
    top:  0;
    right: 0;
    padding: 5px 15px;
    text-transform: capitalize;
    color: $color-white;
    background-color: $color-red;
    border-radius: 0 0 0 10px;
    font-size: $font-md;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      background-color: rgba(255, 0, 0, 0.8)
    }
  }
  &__button{
    width: 140px;
    margin: 0 auto;
  }
  &__details{
    text-align: justify;
    margin-top: 20px;
    font-size: $font-md;
    font-family: 'PT Serif', serif;
  }
}