$font-xs: 8px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 24px;
$font-xl: 32px;
$color-white: #fff;
$color-grey: #777;
$color-grey2: #e6e6e6;
$color-blue: #60A5FA;
$color-yellow: #facc15;


@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}